@media print{

  body *{
      visibility: hidden;
  }

  #tshirts, #tshirts *{
      visibility: visible;
      border: none;
  }

  #tshirts {
    position: absolute;
    top: 80px;
    left: 0;
    float: left;
    border: none;
  }

  #second{
    display: inline-block;
    padding-left: 390px;
    bottom: 10px;
    
  }

  #first{
    position: absolute;
  }

}